.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.bg-black {
    background-color: #000;
    color: #fff;
}

.invert {
    filter: invert(1);
}

.bg-gray {
    background-color: #121212;
    color: #fff;
}

.rounded {
    border-radius: 10px;
}

.m-1 {
    margin: 5px;
}

.m-2 {
    margin: 10px;
}

.p-1 {
    padding: 10px;
}